.hotel_image {
  position: relative;
  display:block;
}

/* #visual-slider {
  height:836px;
  background: url(hotelmainimage.jpg) no-repeat center center;
  background-size:cover;
}
  */
body {
  margin:0;
  padding:0;
}

.hotel_name {
  position: absolute;
  top: 40%; 
  left: 70%;
  transform: translate(-50%, -60%); 
  color: white;
  font-size: 70px;
  text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
  z-index: 5;
}

.main_image_text {
  position: absolute;
  top: 60%; 
  left: 70%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 50px;
  text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
  z-index: 5;
}

.nav_bar {
  position: absolute; 
  /* background-color: darkcyan; */ 
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  padding: 10px 0;
}
a{ 
  text-decoration:none;
}
.menubar {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menubar li {
  flex: 1;
  text-align: center;
}

.menulink {
  color: white;
  text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
  font-size: 18px;
  font-weight: 600;
}


footer {
  font-size : 10px;
}