body {
    font-family: "Noto Sans KR", sans-serif;
    background-color: #f4f7f8;
    padding: 30px;
    color: #333;
}


h2 {
    text-align: center;
    font-size: 24px;
    margin: 40px 0 20px;
    font-weight: 600;
}


hr {
    margin: 40px 0;
    border: 0;
    border-top: 1px solid #dcdde1;
}

.info {
    background: #ffffff;
    padding: 25px 35px;
    border-radius: 12px;
    margin: 0 auto 30px auto;
    max-width: 900px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06);
    border: 1px solid #e6e6e6;
}

.info p {
    font-size: 17px;
    line-height: 1.7;
    margin: 8px 0;
}


.reservation {
    background: #ffffff;
    padding: 25px 35px;
    border-radius: 12px;
    margin: 25px auto;
    max-width: 900px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.05);
    border: 1px solid #e3e3e3;
}

.reservation p {
    font-size: 16px;
    margin: 6px 0;
}


#btn {
    display: block;
    margin:20px auto;
    padding: 10px 18px;
    font-size: 15px;
    border-radius: 6px;
    border: none;
    background-color: #4B73E1;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

#btn:hover {
    background-color: #4169E1;
}
